.fn .first {
    font-size: 125px;
    letter-spacing: -2px;
    top: 210px;
    left: 70px;
    position: absolute;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fn .last {
    font-size: 53px;
    letter-spacing: 0px;
    top: 305px;
    left: 110px;
    position: absolute;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bigname a {
    /* font-family: Geneva, Arial, Helvetica, sans-serif; */
	font-family: Times, serif;
    text-decoration: none;
    color: #000000;
}

.adr {
	display: none;
}

#bio {
	width: 230px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 14px;
	position: absolute;
	width: 270px;
	top: 345px;
	left: 185px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#bio p:not(.first) {
	padding-top: 5px;
}

#bio a {
	color: #000000;
}

#stalk {
	top: 15px;
    left: 310px;
	position: absolute;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
